<div *ngIf="furby">
   <h4>My name is <b>{{furby.name}}</b>, I'm a generation <b>{{furby.generation}}</b> furby</h4>
   <img class="img-responsive" src="../../assets/furbies/{{furby.imageUrl}}" class="img-circle" alt="{{furby.imageUrl}}">
   <h4>I say <b>{{furby.phrase}}</b> all day long!</h4>
</div>
