<video playsinline autoplay loop muted poster="../assets/video/Ski-Day.jpg" id="bgvid">
  <source src="../assets/video/Ski-Day.mp4" type="video/mp4"/>
  <source src="../assets/video/Ski-Day.webm" type="video/webm"/>
</video>

<div id="avans_angular">
  <h1><b>Jouw</b> eerste Angular project</h1><h3>Het #canvas is het nieuwe beeldscherm!</h3>
  <p>Maandag 28 januari 2019</p>
</div>


