.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.1rem;
}
.card {
    background-color: whitesmoke;
    padding: 0.1rem;
}
.card-text {
    font-size: 1.5rem;
    padding: .5rem;
}

.card-img-top {
    height: 10rem;
    width: 100%;
    object-fit: cover
} 

