h1, p {
  background-color: #DDE0E3;
  /*padding: 10px;*/
  padding: 10px 0 20px 5px;
  border: 5px solid brown;
  margin: 20px;
  text-align: center;
}

em, strong {
  background-color: #B2D6FF;
  /*display: block;*/
  border: 1px solid steelblue;
}

.button {
  color: #fff;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
