
<!--<h1>Headings Are Block Elements</h1>-->

<!--<p>Paragraphs are blocks, too. <em>However</em>, &lt;em&gt; and &lt;strong&gt;-->
  <!--elements are not. They are <strong>inline</strong> elements.</p>-->

<!--<p>Block elements define the flow of the HTML document, while inline elements-->
  <!--do not.</p>-->

<!--<div class="button">Button</div>-->
<!--<div style='padding-top: 1px'></div>-->
<!--<div class="button">Button</div>-->

<!--Dit is ook een <span class="button">button</span> maar dan inline-->

<!--<app-flex-ex></app-flex-ex>-->
<app-photo-grid></app-photo-grid>
