.block{
    display: block;
  }
  
.help-block {
  color: #c6002a;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid #c6002a;
}

input.ng-valid.ng-touched {
  border-left: 5px solid #00ACEB;
}
  