<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">{{ apptitle }}</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/dashboard" 
            href="#">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/map" 
            href="#">Map</a>
        </li>

      </ul>

    </div>
  </div>
</nav>