<div class='photo-grid-container'>
  <div class='photo-grid'>
    <div class='photo-grid-item first-item'>
      <img src='../../assets/one.svg'/>
    </div>
    <div class='photo-grid-item'>
      <img src='../../assets/two.svg'/>
    </div>
    <div class='photo-grid-item'>
      <img src='../../assets/three.svg'/>
    </div>
    <div class='photo-grid-item'>
      <img src='../../assets/four.svg'/>
    </div>
    <div class='photo-grid-item last-item'>
      <img src='../../assets/five.svg'/>
    </div>
  </div>

</div>
