.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  /*justify-content: flex-start;*/
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}
