<div class='menu-container'>

  <div class='menu'>
    <div class='date'>25 januari 2019</div>
    <div class="urls">
      <div class='signup'>Sign Up</div>
      <div class='login'>Login</div>
    </div>
  </div>
</div>

<div class="header-container">
  <div class='header'>
    <div class='subscribe'>Subscribe &#9662;</div>
    <div class='logo'><img src='../../assets/awesome-logo.svg'/></div>
    <div class='social'><img src='../../assets/social-icons.svg'/></div>
  </div>
</div>
