.menu-container {
  color: #fff;
  background-color: #5995DA;
  display: flex;
  justify-content: space-between;
}

.menu {
  border: 1px solid #fff;  /* Om te debuggen */
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 2em;
}

.urls {
  /*border: 1px solid #fff;  !* For debugging *!*/
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
